
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.menu{
    display: inline-block;
    cursor: pointer;
}
.line1, .line2, .line3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: .4s;
}
.change .line1{
    transform: translate(0,11px) rotate(-45deg);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: translate(0,-11px) rotate(45deg);
}